mixin nav-a(img,textZH,textEN)
    a(href="#")
        img(src="img/" + img + ".png", alt="連結縮圖")
        span=textZH
        br
        span=textEN
mixin title(img,textZH,textEN)
    div(class="title")
        img(src="img/" + img + ".png", alt="連結縮圖")
        span=textZH
        br
        span=textEN
mixin loaction-box(nameZh, nameEg, img)
    div(class="location-box")
        div(class="location-title")
            div(class="location-text")
                span=nameZh
                br
                span=nameEg
            img(src="img/location.png", alt="據點")
        div(class="location-img-box")
            img(src="img/" + img + ".png", alt="據點")
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        //- aos 套件 cdn
        link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
        title 獅子堂 | 首頁 | 啤酒專賣
    body
        header(id="nav")
            div(class="logo") LION SUGAR
                br
                span(class="logo-zh") 獅子堂啤酒專賣
            nav
                +nav-a("home", "關於我們","ABOUT")
                +nav-a("location","全球據點","LOCATIONS")
                +nav-a("hot","熱門經典","CLASSICAL")
                +nav-a("contact","加盟專區","FRANCHISEE")
        section(id="banner")
        section(id="about")
            div(class="bg bg-about")
            div(class="container")
                +title("home", "關於我們", "ABOUT")


        section(id="location")
            div(class="bg bg-location")
            div(class="container")
                +title("location", "全球據點", "LOCATIONS")

                div(id="location-container")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
                    +loaction-box("台灣", "Taiwan", "location-taipei")
        
        section(id="classcial")
             div(class="bg bg-location")
             div(class="container")
                +title("hot","熱門經典","CLASSICAL")
                div(class="classcial-box" data-aos="slide-up" data-aos-duration="1000")
                    div(class="logo") LION SUGAR
                        br
                        span(class="logo-zh") 獅子堂啤酒專賣
                    img(src="img/beer.png", alt="啤酒" data-aos="slide-up" data-aos-duration="1000" data-aos-delay="100")

        div(class="container")
            +title("contact","加盟專區","FRANCHISEE")
            div(class="franchisee-box" data-aos="zoom-in" data-aos-duration="1000")
                a(href="#")
                    div(class="logo") LION SUGAR
                        br
                        span(class="logo-zh") 獅子堂啤酒專賣
                    h3 加盟諮詢請入內
        footer Copyright &copy; 2019 LION BEER.
        //- aos cdn js
        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script AOS.init();
                